@import "tailwindcss";

@theme inline {
  --color-alura-blue-deep: #041832;
  --color-alura-blue-dark: #144480;
  --color-alura-blue: #1875E9;
  --color-alura-cyan: #00F4BF;
  --color-alura-cyan-light: #2BDEFD;
  --color-alura-blue-light: #DBE4EF;

  --font-chakra: var(--font-chakra-petch);
  --font-inter: var(--font-inter);
}

body {
  background-color: #041832;
  color: #DBE4EF;
}
